.contacts {
  font-family: "Red Hat Display";
  padding: 50px 20px;
  position: relative;
}
@media (min-width: 575.98px) {
  .contacts {
    max-width: 540px;
    margin: auto;
  }
}

@media (min-width: 767.98px) {
  .contacts {
    max-width: 740px;
  }
}

@media (min-width: 991.98px) {
  .contacts {
    max-width: 980px;
  }
}

@media (min-width: 1199.98px) {
  .contacts {
    max-width: 1180px;
  }
}
.contactsBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(187, 133, 255, 0.17) -8.54%,
    rgba(255, 244, 251, 0.2) 100%
  );
  filter: blur(75px);
  z-index: -1;
}
.contactsTitle {
  color: #8643dc;
  font-size: 18px;
  margin: 10px 0;
}

hr {
  width: 50px;
  height: 2px;
  background: #8643dc;
  border: none;
  margin: 0;
}

.contactsLable {
  width: 50%;
  color: #21232d;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.4;
  margin: 0;
}

.contactsEmail {
  width: 50%;
  text-align: right;
}
.contactsEmail a {
  color: #8643dc;
  font-family: Roboto;
  font-size: 24px;
  text-decoration-line: underline;
  text-transform: lowercase;
  transition: 0.3s;
}
.contactsEmail a:hover {
  color: #ff87cb;
  transition: 0.3s;
}
.contactsInfo {
  display: flex;
  margin: 20px 0;
}
@media screen and (max-width: 991px) {
  .contactsInfo {
    flex-direction: column;
  }
  .contactsEmail {
    width: 100%;
    margin: 20px 0;
    order: 0;
  }
  .contactsLable {
    width: 100%;
    order: 1;
  }
}
@media (max-width: 551px) {
  .contactsLable {
    font-size: 30px;
    line-height: 1.3;
  }
  .contactsEmail {
    margin: 0 0 20px 0;
  }
  .contactsEmail a {
    font-size: 20px;
  }
}
.contactsBtns {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 60px;
}
@media screen and (max-width: 596px) {
  .contactsBtns {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .contactsBtns button {
    width: 100%;
    order: 1;
  }
  .contactsAttach {
    order: 0;
    margin-bottom: 20px;
    align-self: flex-end;
  }
}
.contactsAttach {
  display: flex;
  align-items: center;
  gap: 16px;
}
.contactsAttach svg {
  cursor: pointer;
  transition: 0.3s;
}
.contactsAttach svg:hover path {
  fill: #ff87cb;
  transition: 0.3s;
}
